﻿<!doctype html>
<html lang="en">
<head>
    <!-- meta data & title -->
    <meta charset="utf-8">
    <title>Office</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
  
</head>

<body>
    <!-- Header -->


    <nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="assets/img/slider/Office.png" alt="Office"></a>
            </div>

            <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        @Html.ActionLink(
                linkText: "Ana Sayfa",
                actionName: "Index",
                 controllerName: "Home")

                    </li>
                    <li>
                        @Html.ActionLink(
                        linkText: "Hakkımızda",
                          actionName: "About",
                           controllerName: "Home")

                    </li>
                    <li>
                        @Html.ActionLink(
                        linkText: "Blog",
                          actionName: "Blog",
                           controllerName: "Home")

                    </li>
                    <li>
                        @Html.ActionLink(
                        linkText: "Giriş Yap",
                          actionName: "team",
                           controllerName: "Home")

                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- End Header -->
    <!-- Main Container -->
    <div id="banners"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-post">
                    <h1 class="blog-title">
                        <i class="fa fa-file-text"></i>
                        Alice in Wonderland, part dos
                    </h1>
                    <br>
                    <img src="assets/img/slider/blog3.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
                    <br>
                    <p>
                        'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
                        'Yes, we went to school in the sea, though you mayn't believe it—'
                        'I never said I didn't!' interrupted Alice.
                        'You did,' said the Mock Turtle.
                    </p>
                    <div>
                        <span class="badge">Posted 2012-08-02 20:47:04</span>
                        <div class="pull-right">
                            <span class="label label-default">alice</span>
                            <span class="label label-primary">story</span>
                            <span class="label label-success">blog</span>
                            <span class="label label-info">personal</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="blog-post">
                    <h1 class="blog-title">
                        <i class="fa fa-file"></i>
                        Revolution has begun!
                    </h1>
                    <img src="assets/img/slider/blog2.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
                    <br>
                    <p>
                        'I am bound to Tahiti for more men.'
                        'Very good. Let me board you a moment—I come in peace.' With that he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the captain.
                        'Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt leaves me, I swear to beach this boat on yonder island, and remain there six days. If I do not, may lightning strike me!'A pretty scholar,' laughed the Lakeman. 'Adios, Senor!' and leaping into the sea, he swam back to his comrades.
                    </p>
                    <div>
                        <span class="badge">Posted 2012-08-02 20:47:04</span>
                        <div class="pull-right">
                            <span class="label label-default">alice</span>
                            <span class="label label-primary">story</span>
                            <span class="label label-success">blog</span>
                            <span class="label label-info">personal</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="blog-post">
                    <h1 class="blog-title">
                        <i class="fa fa-cloud"></i>
                        Alice in Wonderland, part dos
                    </h1>
                    <img src="assets/img/slider/blog1.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
                    <p>
                        'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
                        'Yes, we went to school in the sea, though you mayn't believe it—'
                        'I never said I didn't!' interrupted Alice.
                        'You did,' said the Mock Turtle.
                    </p>
                    <div>
                        <span class="badge">Posted 2012-08-02 20:47:04</span>
                        <div class="pull-right">
                            <span class="label label-default">alice</span>
                            <span class="label label-primary">story</span>
                            <span class="label label-success">blog</span>
                            <span class="label label-info">personal</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                </div>
                <hr>
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2 <span class="sr-only"></span></a></li>
                    <li><a href="#">3 <span class="sr-only"></span></a></li>
                    <li><a href="#">4 <span class="sr-only"></span></a></li>
                    <li><a href="#">5 <span class="sr-only"></span></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">

                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://placehold.it/292/16a085/FFF&text=CSS3" alt="" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://placehold.it/292/d35400/FFF&text=HTML5" alt="" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://placehold.it/292/2980b9/FFF&text=RESPONSIVE" alt="" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://placehold.it/292/8e44ad/FFF&text=BOOTSTRAP3" alt="" class="img-responsive" />
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--End Main Container -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i> Contact:</h3>
                    <p class="footer-contact">
                        Sakarya Üniversitesi<br>
                        Bilgisayar ve Bilişim Fakültesi<br>
                        Email: hello@sakarya.world<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-external-link"></i> Linkler</h3>
                    <p> <a href="#"> Neyiz</a></p>
                    <p> <a href="#"> Kimiz</a></p>
                    <p> <a href="#"> Contact</a></p>
                    <p> <a href="#"> Blog </a></p>

                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-heart"></i> Sosyal Medya</h3>
                    <div id="social-icons">
                        <a href="#" class="btn-group google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="btn-group linkedin">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                        <a href="#" class="btn-group twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="btn-group facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright text center">
        <p>&copy; Copyright 2017, <a href="#">Gürkan Yeşilyurt</a></p>
    </div>


    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>
